/* Information Preamble: Table like indented. */

#preamble div.hdlist {
	margin-left: 50%;
}

#preamble div.hdlist td.hdlist1 {
	width: 11em;
	padding: 0;
}

#preamble div.hdlist td.hdlist2 p {
	margin-bottom: 0.25em;
}

/* Don't show section tags in ToC. */
#toc .right {
	/* display: none; */
}

/* Admonitions, i.e. notes. */

.admonitionblock > table {
	width: auto;
}
.admonitionblock .icon {
	vertical-align: top;
	padding: 0 0.25em 0 0 !important;
	width: fit-content !important;
}
.admonitionblock .icon .title {
	text-transform: none !important;
	width: fit-content !important;
	font-weight: normal !important;
	font-style: italic !important;
	font-family: serif !important;
	font-size: inherit !important;
}
.admonitionblock .content {
	border: none !important;
	padding: 0 !important;
}

/* General formatting. */

.indented {
	margin-left: 3em;
}

.grammarterm {
	font-style: italic;
	font-family: sans-serif;
}

.ucode::before {
	content: "U+";
}
.ucode, .uname {
	font-family: serif;
	font-style: normal;
	text-transform: uppercase;
}

.itemdescr {
	margin-left: 3em;
}

.large {
	font-size: x-large;
}

/* BNF grammar descriptions. */

.bnf {
	margin-left: 3em;
}
.bnf dl dt {
	font-weight: normal;
	font-style: italic;
	font-family: sans-serif;
}
.bnf dl dd {
	margin-left: 3em;
	font-weight: normal;
	font-style: italic;
	font-family: sans-serif;
}
.bnf .opt::after {
	content: "opt";
	position: relative;
	top: 0.25em;
	font-size: 60%;
}
.bnf .descr {
	font-style: normal;
	font-family: serif;
}

/* Examples. */

.exampleblock > .content::before {
	content: "Example: ";
	font-weight: normal !important;
	font-style: italic !important;
	font-family: serif !important;
}
.exampleblock > .content {
	background: none;
	border: none;
	padding: 0;
	box-shadow: none;
}

/* Table of Contents. */

#toc ul.sectlevel1 > li {
	margin-bottom: 1em;
}
#toc ul.sectlevel1 > li > a {
	font-weight: bold;
}

/* Cover pages. */

#covertitle {
	margin: 5em 0 5em 0;
}
#covertitle .title {
	font-size: 1.2em;
}
