name: "Build Draft"

on:
  workflow_dispatch:
  pull_request:
  push:
  schedule:
    - cron: '13 5 * * 0'

jobs:
  build:
    name: Build IS Draft
    runs-on: "ubuntu-latest"

    steps:
      - name: checkout
        uses: actions/checkout@main

      - name: Update APT Cache
        run: sudo apt-get update

      - name: Install (APT)
        run: sudo apt-get install latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended lmodern asciidoctor

      - name: Install (B2)
        run: |
          set -e
          pushd ..
          wget "https://github.com/bfgroup/b2/archive/main.zip" -O b2.zip
          unzip b2.zip
          cd b2-main
          CXX= ./bootstrap.sh
          CXX= sudo ./b2 install b2-install-layout=portable --prefix=/usr/bin
          popd

      - name: Build (PDF)
        run: |
          b2 --debug-configuration -d+2 doc-stage=draft,final

      - name: Upload
        uses: actions/upload-artifact@main
        with:
          name: ecosystem-is
          path: ecosystem*.pdf
